@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #7d8b96;
  font-family: 'Pangolin', cursive;
}
img {
  max-width: 100%;
  user-select: none;
}
p {
  margin: 0.8rem 0;
}
.whiteboard {
  background-image: url('../images/whiteboard.jpg');
  background-size: contain;
  background-position: 65%;
  background-repeat: no-repeat;
 
  min-height: 100vh;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 1000px) {
  .whiteboard {
    background-size: cover;
  }
}