@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #7d8b96;
  font-family: 'Pangolin', cursive;
}

img {
  max-width: 100%;
  user-select: none;
}

.help-img {
  margin: 0 -1rem;
}

p {
  margin: 0.8rem 0;
}

/* background image */

.whiteboard {
  background-image: url('../images/whiteboard.jpg');
  background-size: contain;
  background-position: 65%;
  background-repeat: no-repeat;
 
  min-height: 100vh;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 1000px) {
  .whiteboard {
    background-size: cover;
  }
}

.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

/* text on main page with start and help buttons */

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
}

.menu {
  text-align: center;
  transform: translate(-45%, -70%);
}

.game {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  color: #d96c50;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0.5rem
}

.sub-title {
  color: #d96c50;
  font-weight: 400;
  font-size: 1.5rem;
}

.button {
  display: block;
  margin: 2rem auto 1rem;
  font-size: 1.4rem;
  padding: 0.3rem 1.8rem;
  background-color: #3bbfaa;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 2px 2px 0 1px black;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  outline: none;
  font-family: inherit;
  width: 100%;
  max-width: 145px;
  color: white;
  white-space: nowrap;
}

.button:hover,  
.button:focus {
  transform: scale(1.2);
}

/* overlay & modal */

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal {
  width: 95%;
  max-width: 400px;
  background: white;
  border: 1px solid rgb(0, 0, 0);
  padding: 1.1rem 1.2rem 0.8rem;
  text-align: center;
  position: relative;
}

.help-modal {
  max-width: 700px;
}

.game-status {
  font-weight: 700;
  margin: 15px 0;
  display: grid;
  place-items: center;
  grid-template-columns: auto 1fr 1fr auto;
  grid-row-gap: 10px;
  width: 100%;
  font-size: 2rem;
  background-color: #002c6fbb;
  padding: 5px 10px 7px;
  border-radius: 10px;
  color: white;
  white-space: nowrap;
}

@media (max-width: 500px) {
  .game-status {
    grid-template-columns: 1fr 1fr;
  }
}

.icon img {
  cursor: pointer;
  width: 35px;
  transition: transform 0.15s;
}
.game-status .icon {
  display: grid;
  place-items: center;
}
.game-status img:hover {
  transform: scale(1.1);
}
.game-grid {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(4, 100px);
  grid-gap: 15px;
}

/* cards front and back */

.card {
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  transition: opacity 300ms ease-in-out;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
}

.face {
  box-shadow: 0 0 0 1px black;  
  border-radius: 10px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  backface-visibility: hidden;
}
.front-face {
  transform: rotateY(180deg);
  transition: transform 500ms ease-in-out;
}

.back-face {
  transform: rotateY(0deg);
  transition: transform 500ms ease-in-out;
}
.card.visible .front-face {
  transform: rotateY(0);
}
.card.visible .back-face {
  transform: rotateY(-180deg);
}
.matched {
  opacity: 0;
  pointer-events: none;
}

/* Feedback Form */

.feedback-form {
  text-align: left;
  padding: 0.5rem;
}
.form-label {
  display: inline-block;
  margin-bottom: 0.5rem;
  border: 2px solid black;
  padding: 3px 5px;
}
.form-input {
  width: 100%;
  display: block;
  margin-bottom: 1.5rem;
  border: 2px solid black;
  padding: 0.3rem 0.5rem;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.close::after,
.close::before {
  position: absolute;
  content: '';
  width: 35px;
  background-color: black;
  height: 5px;
  left: 0;
  top: 50%;
}
.close::after {
  transform: rotate(-45deg);
}
.close::before {
  transform: rotate(45deg);
}

/* Social Media Links */

.social-links {
  position: fixed;
  right: 0;
  top: 0;
  background-color:rgba(255, 255, 255, 0.6);
  border-bottom-left-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 20;
}

.social-links a {
  display: inline-block;
}

.social-links img {
  height: 30px;
  margin: 7px 5px 3px 10px;
  z-index: 3;
}

.hidden {
  display: none;
}

/* Media queries */

@media (max-width: 900px) {
  .game-grid {
    grid-template-columns: repeat(4, 180px);
    grid-template-rows: repeat(4, 90px);
    grid-gap: 10px;
  }
}
@media (max-width: 780px) {
  .game-grid {
    grid-template-columns: repeat(4, 160px);
    grid-template-rows: repeat(4, 80px);
  }
}
@media (max-width: 700px) {
  .game-grid {
    grid-template-columns: repeat(3, 180px);
    grid-template-rows: repeat(6, 90px);
  }
}
@media (max-width: 590px) {
  .game-grid {
    grid-template-columns: repeat(3, 160px);
    grid-template-rows: repeat(6, 80px);
  }
}
@media (max-width: 530px) {
  .game-grid {
    grid-template-columns: repeat(3, 140px);
    grid-template-rows: repeat(6, 70px);
  }
}
@media (max-width: 460px) {
  .game-grid {
    grid-template-columns: repeat(2, 160px);
    grid-template-rows: repeat(8, 80px);
  }
}
@media (max-width: 360px) {
  .game-grid {
    grid-template-columns: repeat(2, 140px);
    grid-template-rows: repeat(8, 70px);
  }
}
